{% form_theme form 'form/fields.html.twig' %}

{{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}

<div class="form__group">
    <div class="form__row">
        <div class="inline-label">
            {{ form_widget(form.oldPassword, {'required': true, 'disabled': false, 'attr': {'class': 'inline-label__input'}}) }}
            {{ form_label(form.oldPassword, null, {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}
        </div>
    </div>

    <div class="form__row">
        <div class="inline-label">
            {{ form_widget(form.newPassword.first, {'required': true, 'disabled': false, 'attr': {'class': 'inline-label__input'}}) }}
            {{ form_label(form.newPassword.first, null, {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}
        </div>
    </div>


    <div class="form__row">
        <div class="inline-label">
            {{ form_widget(form.newPassword.second, {'required': true, 'disabled': false, 'attr': {'class': 'inline-label__input'}}) }}
            {{ form_label(form.newPassword.second, null, {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}
        </div>
    </div>
</div>

<div class="form__group">
    {{ form_errors(form.oldPassword) }}
    {{ form_errors(form.newPassword.first) }}
    {{ form_errors(form.newPassword.second) }}
</div>

<div class="no-print btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary btn-block btn-lg', 'data-type': 'submit'}}) }}
    </div>
</div>

{{ form_end(form) }}