{% extends 'layout/layout-complex.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Historie změn</h1>
            {% include 'utilities/flash-messages.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if logEntries is defined and logEntries|length > 0 %}
                        <table width="100%" class="table table-striped table-bordered table-hover">
                            <tbody>
                            {% for entry in logEntries %}
                                <tr>
                                    <td><em class="prettydate">{{ entry.created|date("Y/m/d H:i:s") }}</em> =>
                                {% if entry.type == 0 %}
                                    Vytvoření produktu
                                {% elseif entry.type == 1 %}
                                    Aktualizace produktu
                                {% elseif entry.type == 2 %}
                                    Odstranění produktu
                                {% endif %}
                                 {{ entry.message }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}

                    {% set count = logEntries|length %}
                    {% transchoice count %}
                        {0} Žádné záznamy nebyly nalezeny |
                        {1} Zobrazuji poslední položku |
                        {2,4}Zobrazuji poslední %count% položky |
                        ]1,Inf[ Zobrazuji posledních %count% položek
                    {% endtranschoice %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function(){
            $(".prettydate").prettydate({
                autoUpdate: true,
                duration: 1000
            });
        });
    </script>
{% endblock %}