{% include 'utilities/modal-simple.html.twig' with {
'modal': {
'id': 'form__delete-item',
'heading': 'Opravdu chcete odstranit produkt?',
'buttons': {
    'dismiss': 'Ne',
    'confirm': 'Ano'
},
'callback': 'formDeleteItem'
}
} %}

{% include 'utilities/modal-simple.html.twig' with {
'modal': {
'id': 'form__update-item--pieces',
'heading': 'Zadejte počet kusů',
'body': '
    <form>
        <div class="form__group">
            <div class="form__row">
                <div class="inline-label">
                    <input type="number" name="input__pieces" class="inline-label__input">
                    <label class="inline-label__label js-inline-label js-filled-input">Počet kusů</label>
                </div>
            </div>
        </div>
    </form>',
'buttons': {
'dismiss': 'Zrušit',
'confirm': 'Aktualizovat'
},
'callback': 'formUpdatePieces'
}
} %}