{{ form_start(form, {'attr': {'autocomplete': 'off'}}) }}

<div class="form__group form__group--locked">

    <div class="form__row">
        <div class="inline-label">
            {{ form_widget(form.name, {'required': true, 'disabled': false, 'attr': {'class': 'inline-label__input'}}) }}
            {{ form_label(form.name, 'Název', {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}
        </div>
    </div>

    <div class="form__row">
        <div class="form-column-4-of-12">
            <div class="form__row">
                <div class="inline-label">
                    {{ form_widget(form.caliber, {'required': false, 'disabled': false, 'attr': {'min': '0', 'class': 'inline-label__input'}}) }}
                    {{ form_label(form.caliber, 'Ráže', {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}
                </div>
            </div>
        </div>

        <div class="form-column-8-of-12">
            <div class="form__row">
                <div class="inline-label">
                    {{ form_widget(form.shots, {'required': false, 'disabled': false, 'attr': {'min': '0', 'class': 'inline-label__input'}}) }}
                    {{ form_label(form.shots, 'Počet výstřelů', {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="form__group form__group--locked">
    <div class="form__row">
        <div class="inline-label">
            {{ form_widget(form.pieces, {'required': true, 'disabled': false, 'attr': {'min': '0', 'class': 'inline-label__input'}}) }}
            {{ form_label(form.pieces, 'Počet ks', {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}

            <div class="input__control">
                <button type="button" data-toggle="modal" data-target="#form__update-item--pieces" data-type="plus"
                        class="btn btn-pieces btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button" data-toggle="modal" data-target="#form__update-item--pieces" data-type="minus"
                        class="btn btn-pieces btn-default">
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
            </div>
        </div>


    </div>

    <div class="form__row">
        <div class="form-column-6-of-12">
            <div class="form__row">
                <div class="inline-label">
                    {{ form_widget(form.purchaseprice, {'required': false, 'disabled': false, 'attr': {'min': '0', 'class': 'inline-label__input'}}) }}
                    {{ form_label(form.purchaseprice, 'Nákupní cena', {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}
                </div>
            </div>
        </div>

        <div class="form-column-6-of-12">
            <div class="form__row">
                <div class="inline-label">
                    {{ form_widget(form.salesprice, {'required': false, 'disabled': false, 'attr': {'min': '0', 'class': 'inline-label__input'}}) }}
                    {{ form_label(form.salesprice, 'Prodejní cena', {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}
                </div>
            </div>
        </div>
    </div>

    <div class="form__row">
        <div class="inline-label">
            {{ form_widget(form.manufacturer, {'disabled': false, 'attr': {'class': 'inline-label__input'}}) }}
            {{ form_label(form.manufacturer, 'Dodavatel', {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}
        </div>
    </div>

    <div class="form__row">
        <div class="inline-label">
            {{ form_widget(form.description, {'required': false, 'disabled': false, 'attr': {'min': '0', 'class': 'inline-label__input'}}) }}
            {{ form_label(form.description, 'Poznámky', {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}
        </div>
    </div>

</div>

<div class="form__group">

    <div class="form__row">
        <div class="inline-label">
            {{ form_widget(form.codename, {'disabled': false, 'attr': {'class': 'inline-label__input'}}) }}
            {{ form_label(form.codename, 'Kód', {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}
        </div>
    </div>

    <div class="form__row">
        <div class="form-column-8-of-12">
            <div class="form__row">
                <div class="inline-label">
                    {{ form_widget(form.codetype, {'disabled': false, 'attr': {'class': 'inline-label__input'}}) }}
                    {{ form_label(form.codetype, 'Typ', {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}
                </div>
            </div>
        </div>

        <div class="form-column-4-of-12">
            <div class="form__row">
                <div class="inline-label">
                    {{ form_widget(form.codeformat, {'disabled': false, 'attr': {'class': 'inline-label__input'}}) }}
                    {{ form_label(form.codeformat, 'Formát', {'label_attr': {'class': 'inline-label__label js-inline-label js-filled-input'}}) }}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="no-print btn-group btn-group-justified form__show-on-unlocked" role="group">
    <div class="btn-group" role="group">
        {{ form_widget(form.save, {'label': submit_label, 'attr': {'class': 'btn btn-primary btn-block btn-lg', 'data-type': 'submit'}}) }}
    </div>
</div>

{{ form_end(form) }}