<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8" />
        <meta name="robots" content="noindex, nofollow">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{{ app_name }}{% endblock %}</title>
        <link href="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('vendor/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css') }}" rel="stylesheet" />
        <link href="{{ asset('vendor/bower_components/bootstrap/dist/css/bootstrap-theme.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block layout %}{% endblock %}
        <script src="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>