{% extends 'layout/layout-complex.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Změna hesla</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {% include 'utilities/flash-messages.html.twig' %}
            {% include 'form/change-password.html.twig' %}
        </div>
    </div>

{% endblock %}

