form {

	$border-radius: 3px;

	&, * {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.input__control {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		overflow: hidden;

		button {
			border-radius: 0;
			border: 1px solid #ddd;
			padding: 22px;
			line-height: 0;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			display: block;
			float: left;
			margin: 0;
			height: 100%;
			z-index: 10;

			&:last-child {
				border-top-right-radius: $border-radius;
				border-bottom-right-radius: $border-radius;
			}
		}
	}

	.form__group {

		input[required="required"] {
			& + label {
				&::after {
					content: "*";
					position: relative;
					font-size: 14pt;
					line-height: 0;
					top: 3px;
					padding-left: 4px;
				}
			}
		}

		margin-bottom: 20px;

		> .form__row:first-of-type {
			> div:first-of-type {
				.inline-label__input {
					border-top-left-radius: $border-radius;
				}
			}

			> div:first-of-type {
				.inline-label__input {
					border-top-right-radius: $border-radius;
				}
			}
		}

		> .form__row:last-of-type {
			> div:first-of-type {
				.inline-label__input {
					border-bottom-left-radius: $border-radius;
				}
			}

			> div:last-of-type {
				.inline-label__input {
					border-bottom-right-radius: $border-radius;
				}
			}
		}

		.form__row {

			width: 99.99999%;

			& + .form__row {

				.inline-label__input {
					border-top: 0 !important;
				}

			}

			div[class^='form-column'] {
				& + div[class^='form-column'] {
					.inline-label__input {
						border-left: 0 !important;
					}
				}
			}

			@include clearfix;

			.inline-label {
				position: relative;

				&__label {
					position: absolute;
					left: 0;
					text-transform: uppercase;
					top: 24px;
					cursor: text;
					color: #bbb;
					padding: 0 10px;
					text-align: left;
					box-sizing: padding-box;
					font-weight: 400;
					font-size: 14px;

					transition: all 0.2s;
					line-height: 1.2em;

					.no-js & {
						position: relative;
						top: 0;
						left: 0;
					}

					&.js-filled-input {
						top: 14px;
						line-height: 1;
						color: #555;
						font-size: 12px;
					}

				}

				.inline-label__input {

					&.error {
						border-color: #dca7a7;
					}

					&[disabled] {
						border-color: #ccc;
						opacity: 0.6;
						cursor: not-allowed;
						background: #f9f9f9;
					}

					line-height: 1.25;
					width: 100%;
					padding: 31px 10px 10px;
					border: 1px solid #ddd;
				}

			}

		}

	}

	*[type="submit"] {
		img {
			width: 1em;
			height: 1em;
		}

	}

}

[class^="form-column-"],
[class*=" form-column-"] {
	position: relative; // 1
	display: block;

	margin-bottom: 0; // todo
	float: left;

	&:last-child {
		margin-bottom: 0;
	}

	input {
		border-radius: 0;
	}

}

@for $i from 1 through 12 {

	.form-column-#{$i}-of-12 {
		width: (8.3333333% * $i);
	}

	.form-column-offset-#{$i}-of-12 {
		margin-left: (8.3333333% * ($i));
	}

}
