{% extends 'layout/layout-complex.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Produkty</h1>
            {% include 'utilities/flash-messages.html.twig' %}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ path("product_new") }}" class="btn btn-default btn-sm"><i class="fa fa-plus fa-fw"></i>
                        Přidat produkt</a>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                                Akce
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="#" class="print-me" data-target="productsList"><i
                                                class="fa fa-print fa-fw"></i> Tisk</a></li>
                                <li class="divider"></li>
                                <li><a href="#" class="checkbox toggle-vis" data-column="0"><label><input
                                                    type="checkbox" value="">Jméno</label></a></li>
                                <li><a href="#" class="checkbox toggle-vis" data-column="1"><label><input
                                                    type="checkbox" value="">Dodavatel</label></a></li>
                                <li><a href="#" class="checkbox toggle-vis" data-column="2"><label><input
                                                    type="checkbox" value="">Počet kusů</label></a></li>
                                <li><a href="#" class="checkbox toggle-vis" data-column="3"><label><input
                                                    type="checkbox" value="">Počet výstřelů</label></a></li>
                                <li><a href="#" class="checkbox toggle-vis" data-column="4"><label><input
                                                    type="checkbox" value="">Ráže</label></a></li>
                                <li><a href="#" class="checkbox toggle-vis" data-column="5"><label><input
                                                    type="checkbox" value="">Poznámky</label></a></li>
                                <li><a href="#" class="checkbox toggle-vis" data-column="6"><label><input
                                                    type="checkbox" value="">Nákupní cena</label></a></li>
                                <li><a href="#" class="checkbox toggle-vis" data-column="7"><label><input
                                                    type="checkbox" value="">Prodejní cena</label></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%" class="table table-striped table-bordered table-hover" id="productsList">
                        <thead>
                        <tr>
                            <th>Jméno</th>
                            <th>Dodavatel</th>
                            <th>Počet kusů</th>
                            <th>Počet výstřelů</th>
                            <th>Ráže</th>
                            <th>Poznámky</th>
                            <th>Nákupní cena</th>
                            <th>Prodejní cena</th>
                        </tr>
                        </thead>
                    </table>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/datatables-plugins/dataTables.bootstrap.css') }}"
          rel="stylesheet">
    <link href="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/datatables-responsive/dataTables.responsive.css') }}"
          rel="stylesheet">
    <link href="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/datatables-responsive/dataTables.responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('css/print.css') }}" media="print" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
    <script src="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/datatables-plugins/dataTables.colReorder.min.js') }}"></script>
    <script>

        $(function () {

            var $datatable = $('#productsList').DataTable({
                "ajax": '{{ path("ajax_products_list") }}',
                "paging": false,
                "responsive": false,
                columns: [
                    {name: 'col-name'},
                    {name: 'col-manufacturer'},
                    {name: 'col-pieces'},
                    {name: 'col-shots'},
                    {name: 'col-caliber'},
                    {name: 'col-description'},
                    {name: 'col-purchase-price'},
                    {name: 'col-sales-price'}
                ],
                "language": {

                    "decimal":        "",
                    "emptyTable":     "Nebyly nalezeny žádné záznamy",
                    "info":           "Zobrazuji položky _START_ až _END_ (_TOTAL_ celkem)",
                    "infoEmpty":      "Nezobrazuji žádné položky",
                    "infoFiltered":   "(filtrováno z _MAX_ celkem)",
                    "infoPostFix":    "",
                    "thousands":      ",",
                    "lengthMenu":     "Show _MENU_ entries",
                    "loadingRecords": "Načítání...",
                    "processing":     "Zpracování...",
                    "search":         "Hledat:",
                    "zeroRecords":    "Žádné výsledky",
                    "paginate": {
                        "first":      "První",
                        "last":       "Poslední",
                        "next":       "Následující",
                        "previous":   "Předchozí"
                    },
                    "aria": {
                        "sortAscending":  ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }


                },
                "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                    if (aData[8]) {
                        var $link = $("<a/>", {href: "{{ path("product_show") }}/" + aData[8], text: aData[0]});
                        $('td:eq(0)', nRow).html($link);
                    }
                }
            });

            var columnsConfig = function ($array) {
                var $columns = [];
                $(".toggle-vis").each(function (idx) {
                    var column = $datatable.column($(this).attr('data-column'));
                    if ($array === undefined) {
                        $columns.push(column.visible());
                    } else {
                        $(this).find("input").eq(0).prop("checked", $array[idx]);
                        column.visible($array[idx]);
                    }
                });
                return $columns;
            };


            $('.toggle-vis').on('change', function (e) {
                e.preventDefault();
                var $column = $datatable.column($(this).attr('data-column'));
                $column.visible(!$column.visible());

                var $response = {};
                $response["columnsproducts"] = columnsConfig();
                $response["columnsmanufacturers"] = [];

                var $json = JSON.stringify($response);

                $.ajax({
                    url: "{{ path("ajax_user_config") }}",
                    method: "POST",
                    data: $json
                });

            }).on("click", function (e) {
                e.stopPropagation();
            });


            $.ajax({
                url: "{{ path("ajax_user_config") }}",
                method: "GET",
                success: function (data) {

                    if (data == null || data["columnsproducts"].length == 0) {
                        var tmp = [];
                        $(".toggle-vis").each(function () {
                            tmp.push(true);
                        });
                        columnsConfig(tmp);
                    } else {
                        columnsConfig(data["columnsproducts"]);
                    }
                }
            });


            $(".print-me").on("click", function (e) {
                e.preventDefault();
                var $target = $("#" + $(e.target).data("target"));
                $target.print();
            });

        });
    </script>
{% endblock %}