{% extends 'layout/layout-complex.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% include 'products/components/js.html.twig' %}
{% endblock %}

{% block layout %}
    {{ parent() }}
    {% include 'products/components/modals.html.twig' %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Vložení nového produktu</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {% include 'utilities/flash-messages.html.twig' %}
            <div class="panel panel-default">
                <div class="panel-heading">&nbsp;
                    <div class="pull-right">&nbsp;
                    </div>
                </div>
                <div class="panel-body">
                    {% include 'products/components/product-detail-form.html.twig' with {"submit_label": "Vytvořit"} %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
