{% extends 'layout/layout-complex.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {% include 'products/components/js.html.twig' %}
{% endblock %}

{% block layout %}
    {{ parent() }}
    {% include 'products/components/modals.html.twig' %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Detail produktu</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {% include 'utilities/flash-messages.html.twig' %}
            <div class="panel panel-default">
                <div class="panel-heading">&nbsp;
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Akce
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="" data-toggle="modal" data-target="#form__delete-item"><i
                                                class="fa fa-trash fa-fw"></i> Odstranit</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">

                    {{ form_start(delete_form, {'name': 'product_delete_form'}) }}
                    {{ form_end(delete_form) }}

                    {% include 'products/components/product-detail-form.html.twig' with {"submit_label": "Aktualizovat"} %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

