{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.css') }}" rel="stylesheet"/>
    <link href="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/morrisjs/morris.css') }}" rel="stylesheet"/>
    <link href="{{ asset('vendor/bower_components/jquery-ui/themes/base/jquery-ui.css') }}" rel="stylesheet"/>
{% endblock %}

{% block layout %}
    <div id="wrapper">
        {% include 'layout/navigation.html.twig' %}

        <div id="page-wrapper">
            {% block body %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/metisMenu/metisMenu.min.js') }}"></script>
    <script src="{{ asset('vendor/startbootstrap-sb-admin-2/vendor/raphael/raphael.min.js') }}"></script>
    <script src="{{ asset('vendor/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js') }}"></script>
    <script src="{{ asset('vendor/bower_components/EasyAutocomplete/dist/jquery.easy-autocomplete.js') }}"></script>
    <script src="{{ asset('vendor/bower_components/jquery-ui/jquery-ui.js') }}"></script>

    <script>
        $(function () {
            $("#product_manufacturer").autocomplete({
                source: "{{ path("ajax_autocomplete", {"entityType": "Manufacturer"}) }}",
                minLength: 0,
                autoFocus: true
            }).bind('focus', function () {
                $(this).autocomplete("search");
            });
        });
    </script>

{% endblock %}