<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Zobrazit/skrýt navigaci</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path("product_index") }}">{{ app_name }} v2.0</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">

        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>{{ app.user.username }} <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{{ path("admin_change_password") }}"><i class="fa fa-lock fa-fw"></i> Změna hesla</a>
                </li>
                <li class="divider"></li>
                <li><a href="{{ path("logout") }}"><i class="fa fa-sign-out fa-fw"></i> Odhlášení</a>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a {% if "ProductController" in app.request.attributes.get('_controller') %}class="active" {% endif %}href="{{ path("product_index") }}"><i class="fa fa-cubes fa-fw"></i> Produkty</a>
                </li>
                <li>
                    <a {% if "LogController" in app.request.attributes.get('_controller') %}class="active" {% endif %}href="{{ path("log_index") }}"><i class="fa fa-list fa-fw"></i> Historie změn</a>

                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>