@media print
{

	html, body {
		height: 99%;
	}

	body {
		margin: 0 0 0 0;
	}

	table thead, table tbody, table tfoot {border: 0 !important;}
	table { page-break-after:auto; border: 0 !important; }
	tr    { page-break-inside:avoid; page-break-after:auto }
	td    { page-break-inside:avoid; page-break-after:auto }
	thead { display:table-header-group }
	tfoot { display:table-footer-group }

	.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
		padding: 6px 8px;
	}

	a[href]:after {
		content: none !important;
	}

	img[src]:after {
		content: none !important;
	}

	body {
		font-size: 10px;
	}
}