<div class="modal fade" id="{{ modal.id }}" data-callback="{{ modal.callback }}" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Zavřít"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="simpleModalLabel">{{ modal.heading }}</h4>
            </div>
            {% if modal.body is defined %}
                <div class="modal-body">
                    {{ modal.body|raw }}
                </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ modal.buttons.dismiss }}</button>
                <input type="submit" class="btn btn-update btn-primary" value="{{ modal.buttons.confirm }}">
            </div>
        </div>
    </div>
</div>
