@mixin clearfix() {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

.hidden {
    display: none;
}

@media print {
    .no-print {
        display: none !important;
    }
}

.debug {
    background: red !important;
    border: 10px solid lime !important;
}