{% extends 'layout/layout-simple.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Přihlásit se</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{{ path('login') }}" autocomplete="off" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Uživatelské jméno" required autofocus />
                                </div>
                                <div class="form-group">
                                    <input type="password" id="password" name="_password" class="form-control" placeholder="Heslo" />
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="remember_me" name="_remember_me" checked="checked" />Zapamatovat
                                        přihlášení
                                    </label>
                                </div>
                                <input class="btn btn-lg btn-success btn-block" name="login" type="submit" value="Přihlásit" />
                            </fieldset>
                        </form>
                    </div>
                </div>
                {% if error %}
                    <div><p class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
